@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Google+Sans+Flex:opsz@6..144&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');






.text-primary {
    font-variant: small-caps;
    font-family: "Big Shoulders", sans-serif;
    font-weight: 100;
    font-style: thin;
}

.text-secondary {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-normal {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: thin;
}

.text-sub {
    font-family: "Sofia Sans", sans-serif;
    font-weight: 100;
    font-style: thin;
}


.section-dark {
    position: relative;
    padding-bottom: 0;
}

.divider-angle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    line-height: 0;
}